@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gloria+Hallelujah|Kaushan+Script|Berkshire+Swash|ZCOOL+XiaoWei');


.fixed-top {
  padding-bottom: 2.5px !important;
  padding-top: 2.5px !important;
}

.navbar-brand  {
  font-size: 2em !important;
  font-family: 'Berkshire Swash', cursive;
}

.brand {
  margin-bottom: 0px;
}

.nav-body {
  padding-top: 50px;
}

body {
  padding-top: .02%;
}

/* max less than or equal to */
@media screen and (max-width: 992px) {
  body { padding-top: .05%; }
}

@media screen and (min-width: 680px) {
  body { padding-top: 1%; }
}

@media screen and (max-width: 600px) {
  body { padding-top: 7%; }
}


body { padding-top: 40px; }

.search {
  font-family: 'Berkshire Swash', cursive, sans-serif;
  font-weight: bold;
}

.search:hover {
  text-decoration: none;
  color: white;
}

#local:hover {
  text-decoration: none;
  color: #CC0000;
}

.dropdown-item {
  text-decoration: none;
  color: black;
  font-family: 'ZCOOL XiaoWei', sans-serif;
  font-weight: 550;
}

.navbar-default {
  padding-top: 2px;
  padding-bottom: 2px;
}

.dropdown-item > a {
  text-decoration: none;
  color: black;
  font-family: 'ZCOOL XiaoWei', sans-serif;
  font-weight: 550;
}

.dropdown-item > a:hover {
  text-decoration: none;
  color: #CC0000;
}

.nav-link {
  margin: 0;
  text-decoration: none;
  color: black;
  font-size: 1.15em;
  font-family: 'ZCOOL XiaoWei', sans-serif;
  font-weight: ;
}

.nav-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #CC0000;
}

.nav-link  {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.nav-link > p {
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding-bottom: 2px;
}

.sign-up {
  color: black;
}

#navbarDropdown {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

#navbarDropdown:hover {
  text-decoration: none;
  cursor: pointer;
  color: #CC0000;
}

.nav-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #CC0000;
}

.donut-nav {
  height: 20px;
}

#home:hover {
  text-decoration: none;
  cursor: pointer;
  color: #CC0000;
}

.btn-outline-danger:hover {
  color: white;
}

#navbarSupportedContent {
  padding-top: 5px;
  padding-right: 15px;
}
